{% extends "base.html" %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='add_transaction.css') }}">
{% endblock %}
{% block title %}Add Inventory{% endblock %}

{% block content %}
    <p class="h3 py-5 text-center">Add Inventory</p>


    <form method="POST" id="form">


        <!-- Headers for the entry columns -->

        <div class="form-row mb-3">
            <div class="form-group col-2">
                <label>Transaction #</label>
                <input type="text" name="batch_id" class="form-control" value="{{ next_transaction_batch }}" readonly>
            </div>
            <div class="form-group col">
                <label for="inpSource">Source</label>
                <input type="text" class="form-control" name="inpSource">
            </div>
            <div class="form-group col-auto">
                <label for="inpDate">Date</label>
                <input type="date" name="inpDate" class="form-control">
            </div>
            <div class="form-group col">
                <label for="selOnline">Online/Retail</label>
                <select name="selOnline" class="form-control">
                    <option selected>Online Order</option>
                    <option>Retail Purchase</option>
                </select>
            </div>
        </div>


        <div class="row g-1 align-items-start border-bottom border-top mb-2 text-left">
            <div class="col-md-1">
                <label class="col-md-1 col-form-label">Sku</label>
            </div>
            <div class="col-md-1">
                <label class="col-md-1 col-form-label">Qty.</label>
            </div>
            <div class="col pl-1">
                <label class="col-md-3 col-form-label">Name</label>
            </div>
            <div class="col-md-1 pl-2 " style="min-width: 94px;">
                <label class="col-md-1 col-form-label">Cost</label>
            </div>
            <div class="col-md-1 pl-2" style="min-width: 94px;">
                <label class="col-md-1 col-form-label">Qty.</label>
            </div>
            <div class="col-md-3 pl-2">
                <label class="col col-form-label">Link</label>
            </div>
            <div class="col-auto p-0 invisible">
                <button class="btn"><i class="fa fa-check-circle"></i></button>
            </div>
            <div class="col-auto p-0 invisible">
                <button class="btn"><i class="fa fa-bars"></i></button>
            </div>
            <div class="col-auto p-0 invisible">
                <button class="btn"><i class="fa fa-trash"></i></button>
            </div>
        </div>

        <div id="inputArea">
        </div>

        <button class="btn"
                type="button"
                id="btnAdd"
        >Add
        </button>

        <button type="button"
                class="btn btn-primary"
                id="btnSubmit"
        >Submit
        </button>
    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='add_transaction.js') }}"></script>
    <script type="text/javascript"> Entry.load_flask_data({{ item_skus|tojson }}, {{ item_qty|tojson }}) </script>
{% endblock %}

