{% extends "base.html" %}
{% block title %}Add Inventory{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Add Inventory</h3>

    <!-- Headers for the entry columns -->
    <div class="row g-1 border-bottom mb-2 text-left">
			<div class = "col-md-1">
				<label class="col-md-1 col-form-label">Sku</label>
			</div>
			<div class = "col-md-1">
				<label class="col-md-1 col-form-label">Qty.</label>
			</div>
			<div class="col-md-3 pl-1">
				<label class="col-md-3 col-form-label">Name</label>
			</div>
			<div class="col-md-1 pl-1">
				<label class="col-md-1 col-form-label">Cost</label>
			</div>
			<div class="col-md-1 pl-1">
				<label class="col-md-1 col-form-label">Qty.</label>
			</div>
			<div class="col-md-3 pl-1">
				<label class="col-md-3 col-form-label">Source</label>
			</div>
		</div>

		<div class="row g-3">
			<div class = "col-md-1 justify-content-center">
				<label class="col-md-1 col-form-label">New</label>
			</div>
			<div class = "col-md-1 justify-content-center border-right">
				<label class="col-md-1 col-form-label">-</label>
			</div>
			<div class="col-md-3">
				<input class="form-control" />
			</div>
			<div class="col-md-1">
				<input class="form-control" />
			</div>
			<div class="col-md-1">
				<input class="form-control" />
			</div>
			<div class="col-md-3">
				<input class="form-control" />
			</div>
			<div class="col-auto p-0">
				<button class="btn"><i class="fa fa-bars"></i></button>
			</div>
			<div class="col-auto p-0">
				<button class="btn"><i class="fa fa-trash"></i></button>
			</div>
		</div>

		<div id="inputArea">


		</div>

    <button type="submit"
            class="btn btn-primary"
            >Submit
    </button>

</form>
{% endblock %}

{% block scripts %}
 <script type="text/javascript" src="{{ url_for('static', filename='add_inventory.js')}}"></script>
{% endblock %}

